aside {
    background: var(--gray-800);
    border-radius: 0.5rem;
    overflow: hidden;
}

aside > img {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.profile-y {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(0px - 1.5rem - 6px);
}

.profile-y strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.profile-y span {
    font-size: 0.875rem;
    color: var(--gray-400);
}

aside > footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

aside > footer > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    text-decoration: none;
}


aside > footer > a:hover {
    background-color: var(--green);
    color: var(--white);
    transition: color .1s, background-color .1s;
}