@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:focus {
  outline: transparent;
  box-shadow: none;
}


html, body {
  min-width: 100%;
  min-height: 100%;
  background-color: #1a1a1a;
}